@media(max-width: 890px){
    .main-title-container {
        padding-top: 230px;
    }
}

@media (max-width: 788px){
    .footer-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .footer-box-two {
        padding: 10px;
    }
    .footer-box-one {
        display: grid;
        align-self: center;
        justify-content: center;
    }
}

@media (max-width: 617px){
    .main-title-container {
        padding-top: 250px;
    }
}

@media (max-width: 597px){
    .main-title-container {
        padding-top: 380px;
    }
}

